.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #ff9800;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 14px;
}
