<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<mat-card class="container" [class.loading]="loading">
  <mat-toolbar color="primary" data-testid="top-stories-toolbar">
    <span><b>Latest Top Stories</b></span>
  </mat-toolbar>

  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="searchQuery" data-testid="search-box"/>
    <mat-error *ngIf="searchQuery.hasError('maxlength')">
      Search query cannot be longer than 50 characters.
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="itemsToShow.length > 0; else noStories">
    <mat-list>
      <mat-list-item *ngFor="let item of itemsToShow" class="story-list-item">
        <app-story-card [story]="item"></app-story-card>
      </mat-list-item>
    </mat-list>
  </ng-container>

  <ng-template #noStories>
    <div class="no-stories-message">
      <p>
        {{
          searchQuery.value
            ? "Oops. There aren't stories matching your search."
            : "Oops. There aren't any stories yet."
        }}
      </p>
    </div>
  </ng-template>

  <mat-paginator
    [length]="totalStories"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</mat-card>
