<h2 mat-dialog-title>Comments</h2>
<mat-dialog-content>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div *ngIf="!loading">
    <div *ngFor="let comment of comments" class="comment">
      <div class="comment-header">
        <p>
          <b>{{ comment.by }}</b>
        </p>
        <p class="comment-date">{{ comment.time | unixTimestamp }}</p>
      </div>
      <p>{{ comment.text }}</p>
      <mat-divider></mat-divider>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
